<div class="layout">
  <div class="tabs">
    <ul>
      <li *ngFor="let tab of tabs; let index = index" class="{{ selectedTabIndex === index ? 'saved active' : ''}}"><a (click)="onClickTab(index)">{{
          tab }}</a><button (click)="onClickCloseTab(index)" class="close"></button></li>
      <li (click)="onClickNewTab()" class="new"><a><i class="fas fa-plus"></i></a></li>
    </ul>
  </div>
  <div class="contents">
    <textarea [(ngModel)]="content" (keyup)="onChangeContent()"></textarea>
  </div>
  <div class="status-bar">
    <div>
      Contributors: <a target="_blank" href="https://www.linkedin.com/in/developersworkspace">Barend Erasmus</a>, <a target="_blank"
        href="https://www.linkedin.com/in/stuartngreen">Stuart Green</a>
    </div>
  </div>
</div>