<div class="layout">
  <div class="tabs">
    <button *ngIf="!user" (click)="onClickSignIn()" class="button">Sign in<i class="fas fa-sign-in-alt"></i></button>
    <button *ngIf="user" (click)="onClickSignOut()" class="button">Sign out<i class="fas fa-sign-out-alt"></i></button>
    <ul>
      <ng-container *ngFor="let tab of applicationState.tabs">
        <li *ngIf="!tab.deleted || applicationState.showDeletedTabs" class="{{ tab.selected ? 'saved active' : ''}}">
          <label *ngIf="!tab.editMode" (dblclick)="applicationState.editTab(tab.id)" (click)="applicationState.selectTab(tab.id)"
            onselectstart='return false;'>{{
            tab.name }}</label>
          <input *ngIf="tab.editMode" [(ngModel)]="tab.name" (blur)="applicationState.editTabComplete(tab.id)"
            #tabInput type="text" />
          <button (click)="applicationState.closeTab(tab.id)" class="close"></button>
        </li>
      </ng-container>
      <li (click)="applicationState.newTab()" class="new"><a><i class="fas fa-plus"></i></a></li>
    </ul>
  </div>
  <ng-container *ngFor="let tab of applicationState.tabs">
    <div *ngIf="tab.selected" (click)="contextMenuState.hide()" (contextmenu)="contextMenuState.show($event)" class="contents">
      <ng-utils-context-menu *ngIf="contextMenuState.visible" (select)="contextMenuState.select($event, tab)" [items]="contextMenuState.items"
        [x]="contextMenuState.x" [y]="contextMenuState.y"></ng-utils-context-menu>
      <div class="lines">
        <div *ngFor="let lineNumber of tab.lineNumbers">{{ lineNumber }}</div>
      </div>
      <textarea [(ngModel)]="tab.content" (keyup)="applicationState.refreshLineNumbers(tab.id)" (scroll)="onScrollContent()" (keydown.Tab)="onKeydown($event)"></textarea>
  </div>
  </ng-container>
  <div class="status-bar">
    <div>
      Contributors: <a target="_blank" href="https://www.linkedin.com/in/developersworkspace">Barend Erasmus</a>, <a
        target="_blank" href="https://www.linkedin.com/in/stuartngreen">Stuart Green</a>, <a target="_blank" href="https://www.linkedin.com/in/storm-simmons-65b819119">Storm
        Simmons</a>, <a target="_blank" href="https://www.linkedin.com/in/sibusiso-zamani-5a5000104">Sibusiso Zamani</a>
    </div>
  </div>
</div>