<div class="layout">
  <div class="tabs">
    <button *ngIf="!user" (click)="onClickSignIn()" class="button">Sign in<i class="fas fa-sign-in-alt"></i></button>
    <button *ngIf="user" (click)="onClickSignOut()" class="button">Sign out<i class="fas fa-sign-out-alt"></i></button>
    <ul>
      <li draggable="true" *ngFor="let tab of tabs" class="{{ tab === selectedTab ? 'saved active' : ''}}" (dragstart)="onDragStartTab($event, tab)"
        (drop)="onDropTab($event, tab)" (dragover)="onDragOverTab($event, tab)">
        <label *ngIf="(tab === selectedTab && !isInEditMode) || (tab !== selectedTab)" (dblclick)="onDoubleClickTab(tab)" (click)="onClickTab(tab)"
          onselectstart='return false;'>{{ tab.name }}</label>
        <input *ngIf="tab === selectedTab && isInEditMode" [(ngModel)]="tab.name" (blur)="onBlurTab(tab)" #tabInput type="text" />
        <button (click)="onClickCloseTab(tab)" class="close"></button>
      </li>
      <li (click)="onClickNewTab()" class="new"><a><i class="fas fa-plus"></i></a></li>
    </ul>
  </div>
  <div class="contents">
    <div class="lines">
      <div *ngFor="let lineNumber of lineNumbers">{{ lineNumber }}</div>
    </div>
    <textarea *ngIf="selectedTab" [(ngModel)]="selectedTab.content" (keyup)="onChangeContent(selectedTab)" (scroll)="onScrollContent()"></textarea>
  </div>
  <div class="status-bar">
    <div>
      Contributors: <a target="_blank" href="https://www.linkedin.com/in/developersworkspace">Barend Erasmus</a>, <a target="_blank"
        href="https://www.linkedin.com/in/stuartngreen">Stuart Green</a>, <a target="_blank"
        href="https://www.linkedin.com/in/storm-simmons-65b819119">Storm Simmons</a>
    </div>
  </div>
</div>