$link-color: #3d8ede;
$tabs-bgcolor: #f0f0f0;
$status-bar-bgcolor: #f0f0f0;
$close-icon-hover-color: #e22c2c;
$edit-underline-color: #4e7ab9;

$inactive-tab-bgcolor: #ccc;
$inactive-tab-text-color: #777;
$inactive-tab-file-icon-color: #4e7ab9;
$inactive-tab-close-icon-color: #969696;

$active-tab-bgcolor: #fff;
$active-tab-text-color: #000;
$active-tab-file-icon-color: #238ffa;
$active-tab-close-icon-color: #af687c;

$button-color: #238ffa;

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 12px/15px sans-serif;
    height: 100%;
    margin: 0;
}

a {
    color: $link-color;

    &:hover {
        color: darken($link-color, 20%);
    }
}

div.layout {
    height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;

    > div {
        display: flex;

        &.contents {
            flex: 1;
        }
    }
}

button {
    background-color: $button-color;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font: inherit;
    padding: 6px 8px 5px 9px;
    position: absolute;
        top: 4px;
        right: 5px;
    transition: background-color 0.15s ease-in-out;
    z-index: 10;

    i {
        margin-left: 7px;
    }

    &:hover {
        background-color: darken($button-color, 20%);
    }
}

div.tabs ul {
    background-color: $tabs-bgcolor;
    list-style: none;
    margin: 0;
    padding: 5px 90px 5px 5px;
    width: 100%;
    z-index: 1;

    &:after {
        clear: both;
        content: '';
        display: table;
    }

    li {
        background-color: $inactive-tab-bgcolor;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.5);
        color: $inactive-tab-text-color;
        cursor: pointer;
        display: block;
        float: left;
        margin: 0 3px 3px 0;
        padding: 0 22px;
        position: relative;

        &:before {
            color: $inactive-tab-file-icon-color;
            content: '\f15c';
            font-family: 'Font Awesome 5 Free';
            font-size: 14px;
            font-weight: 700;
            position: absolute;
                top: 6px;
                left: 6px;
        }

        &:hover {
            color: darken($inactive-tab-text-color, 20%);
        }
        
        &.active {
            background-color: $active-tab-bgcolor;
            color: $active-tab-text-color;
            cursor: default;
            
            &:before {
                color: $active-tab-file-icon-color;
            }

            label {
                cursor: default;
            }

            button.close {
                background-color: $active-tab-close-icon-color;
                color: #fff;
            }
        }

        label {
            display: inline-block;
            cursor: pointer;
            line-height: 29px;
        }

        input {
            background: transparent;
            border: 0;
            font: inherit;
            height: 19px;
            line-height: 19px;
            margin: 5px 0;
            max-width: 75px;
            padding: 0;
            position: relative;

            &:focus {
                border-bottom: 1px solid $edit-underline-color;
                outline: 0;
            }
        }

        button.close {
            background-color: $inactive-tab-close-icon-color;
            border: 0;
            border-radius: 2px;
            color: #d9d9d9;
            cursor: pointer;
            height: 12px;
            line-height: 12px;
            padding: 0;
            position: absolute;
                top: 8px;
                right: 4px;
            width: 12px;
            z-index: 2;

            &:focus {
                outline: 0;
            }

            &:after {
                content: '\f00d';
                font-family: 'Font Awesome 5 Free';
                font-size: 11px;
                font-weight: 700;
            }

            &:hover {
                background-color: $close-icon-hover-color;
                color: #fff;
            }
        }
        
        &.new {
            background-color: $active-tab-bgcolor;
            font-size: 10px;
            padding: 7px 9px 7px 8px;

            &:before {
                display: none;
            }
        }
    }
}

div.contents {
    background-color: #fff;
    margin-top: -10px;
    padding: 2px;
    width: 100%;
    z-index: 2;

    textarea {
        background-color: #fff;
        font: 13px/18px "Consolas", "Courier New", sans-serif;
        height: 100%;
        padding: 5px 7px;
        resize: none;
        width: 100%;

        &:focus {
            outline: 0;
        }
    }
}

div.lines {

    padding: 5px 10px;
    line-height: 0.5rem;
    height: 100%;
    overflow-y: hidden;
    
    > div{
    font: 12px/18px "Courier New", sans-serif;
   
    }
}

div.status-bar {
    background-color: $status-bar-bgcolor;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    width: 100%;
}
